.button {
    width: 150px;
    height: 60px;
    border: 0px;
    color: var(--text-grey);
    border-radius: 5px;
    box-shadow:  0px 0px 7px 2px var(--light-grey);
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
    transition: box-shadow 0.2s, font-size 0.2s;
    font-weight: bold;
}

.selected {
    background-color: var(--corn);
}

.button:hover {
    box-shadow:  0px 0px 10px 3px var(--light-grey);
}

.button:active {
    font-size: 15.5px;
}