.people-viewer {
    margin-top: 20px;
}

.people-viewer td, .people-viewer th {
    text-align: center;
    text-transform: capitalize;
}

.people-viewer th {
    font-weight: 600;
}

.people-viewer td {
    font-weight: 400;
}

.people-viewer td:nth-child(3), .people-viewer th:nth-child(3) {
    text-align: left;
}

.app-container {
    padding: 0% 2.5%;
    margin-top: 50px;
}

.app-heading {
    margin: 5px;
    color: var(--light-grey);
}